#aside-content .card-tag-cloud a:hover {
    color: #eee!important;
    margin: 0 auto;
    border-radius: 7px;
    background: var(--btn-bg);
}

#aside-content #card-toc .toc-content .toc-link.active {
    border-left-color: var(--ahzoo-deep-blue);
    background: var(--btn-bg);
    border-radius: 7px;
    box-shadow: 0 8px 12px -3px rgba(73,177,245,0.2);
}

<!--侧边栏按钮-->
#aside-content .card-info #card-info-btn {
    border-radius: 15px;
}

.button--animated::before {
    border-radius: 15px;
}

<!--右下角按钮侧边栏-->
button{
    border-radius: 7px;
}

a#to_comment{
    border-radius: 7px;
}